html {
  font-family: Lato, sans-serif;
}

header {
  text-align: center;
  background-color: #2f3440;
}

footer {
  background-color: #e8614b;
}

h1 {
  color: #e8614b;
}

.nav a {
  color: #fff;
  text-decoration: none;
  text-align: center;
}

a:hover {
  color: #e8614b;
}
