.btn {
  background-color: var(--color-primary);
  border-color: var(--color-primary);

  color: #fff;
}

.btn-light {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);

  color: #fff;
}

.btn-ghost {
  background-color: transparent;
  border-color: var(--color-secondary);

  color: var(--color-secondary);
}

.btn-icon {
  background-color: transparent;
  padding: 0;
  border-radius: 0;
  border: 0;
  color: var(--color-primary);
}

.btn-icon:hover {
  background-color: transparent;
  color: black;
}
