:root {
  --color-primary: #e8614b;
  --color-primary-light: white;
  --color-secondary: #2f3440;
  --color-accent: black;
  --font-primary: "Lato", sans-serif;
}

html {
  font-family: var(--font-primary);
}

h1 {
  color: var(--color-primary);
  font-family: var(--font-primary);
}

h2 {
  color: var(--color-secondary);
  font-family: var(--font-primary);
}

h3,
h4,
h5,
h6 {
  color: var(--color-accent);
  font-family: var(--font-primary);
}

ul,
ol,
dl {
  color: var(--color-accent);
  font-family: var(--font-primary);
}

a {
  color: var(--color-secondary);
  font-family: var(--font-primary);
}

blockquote,
cite {
  color: var(--color-primary);
  font-family: var(--font-primary);
}
